<h1>Posts#show</h1>
Title: <%= @post.title %><br />
Content: <%= @post.post_text %>
<br />

<br />

<% @post.photos.each do |p| %>
	<%= image_tag p.image.url %><br />
<% end %>

<br />

<%= link_to "Upload photo", new_post_photo_path(@post) %>

